@using Bethanys.Hrm.Shared;
@if (benefits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <TableTemplate Items="benefits" IsSmall="true">
                <TableHeader>
                    <th class="w-auto">Benefit</th>
                    <th class="w-25">Start date</th>
                    <th class="w-25">End date</th>
                </TableHeader>
                <RowTemplate>
                    <td>
                        <input type="checkbox"
                               checked="@context.Selected"
                        @onchange="e => CheckBoxChanged(e, context)" />
                    </td>
                    <td>@context.Description</td>
                    @if (@context.Selected)
                    {
                        <td>@context.StartDate?.ToString("dd/MM/yyyy")</td>
                        <td>
                            <DateField @ref="dateFieldRef"
                            @bind-Date="context.EndDate"
                                       placeHolder="Enter a date"
                                       required="required"
                                       maxLength="50" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                </RowTemplate>
            </TableTemplate>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn @Theme.ButtonClass" 
                disabled="@SaveButtonDisabled"
                @onclick="SaveClick">
                Save
            </button>
            <button class="btn @Theme.ButtonClass"
                @onclick="RevertClick">
                Revert
            </button>
        </div>
    </div>
}
