@inherits EmployeeRowBase

@{
    var cssClass = Employee.HasPremiumBenefits ? "table-success" : "";
}

<tr class="@cssClass">
    <td><img src="@($"images/{Employee.EmployeeId}-small.jpg")" class="rounded-circle" /></td>
    <td>@Employee.EmployeeId</td>
    <td>@Employee.FirstName</td>
    <td>@Employee.LastName</td>
    <td>
        <a class="btn btn-primary table-btn" @onclick="e => Employee.ShowBenefits = !Employee.ShowBenefits">
            <i class="fas fa-thumbs-up"></i>
        </a>
    </td>
</tr>
@if (Employee.ShowBenefits)
{
    <tr>
        <td colspan="5">
            <BenefitSelector Employee="Employee" OnPremiumToggle="@PremiumToggle" />
        </td>
    </tr>
}